<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Handin4DBEntities" connectionString="metadata=res://*/FunctionsAndProcedures.csdl|res://*/FunctionsAndProcedures.ssdl|res://*/FunctionsAndProcedures.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ProjectsV12;initial catalog=Handin4DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>